<?xml version="1.0"  encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="log4net"
             type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <connectionStrings>
    <add name="SIATBD_DES01" connectionString="Data Source=JOSE;Initial Catalog=BDMCSI;persist security info=True;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>

  </connectionStrings>


  <log4net>
    <appender name="RollingLogFileAppender"
              type="log4net.Appender.RollingFileAppender">
      <file value="log//"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="'ServicioMCSISIAT'yyyyMMdd'.log'"/>
      <param name="StaticLogFileName" value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %m%n"/>
      </layout>
    </appender>
    <appender name="ConsoleAppender"
              type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n"/>
        <param name="Footer" value="[Footer]\r\n"/>
        <param name="ConversionPattern" value="%d [%t] %-5p %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingLogFileAppender"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>
  </log4net>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />

    <add key="TimeoutConectDB" value="900000"/>
    <add key="Integrated_Security" value="SSPI"/>

    <!-- Poner en uno al pasar a producción -->
    <add key="SeguridadActiva" value=""/>

    <add key="ServerName_BDMCSI" value="JOSE"/>
    <add key="DatabaseName_BDMCSI" value="BDMCSI"/>    
    <add key="ServicioWeb_BDMCSI" value="LLAVE_REGEDIT_SERVICIO"/>
    <add key="UsrMCSI" value="LLAVE_REGEDIT_USUARIO_BD"/>
    <add key="PswMCSI" value="LLAVE_REGEDIT_PASSWORD_USUARIO_BD"/>

    <!-- Quitar antes de pasar a producción -->
    <add key="UsuarioBD" value="usrmcsi"/>
    <add key="PasswordBD" value="usrmcsi1234"/>
  </appSettings>

  <system.web>
    <compilation debug="true"
                 targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Para evitar revelar información de los metadatos, establezca el valor siguiente en false antes de la implementación -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- Para recibir detalles de las excepciones en los fallos, con el fin de poder realizar la depuración, establezca el valor siguiente en true. Para no revelar información sobre las excepciones, establézcalo en false antes de la implementación -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
     <service name="ServicioMCSI">
        <endpoint address=""
                  behaviorConfiguration="web"
                  binding="webHttpBinding"
                  contract="SAT.SIAT.App.Servicios.Contrato.MCSI.IServicioMCSI"/>
      </service>
    </services>
    <protocolMapping>
      <add binding="basicHttpsBinding"
           scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>


  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
           <!--<add name="ServiceModelTraceListener" 
               type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" 
               initializeData="wcf-traces.svclog"/>-->
          <add name="traceListener"
               type="System.Diagnostics.XmlWriterTraceListener"
               initializeData="d:\log\ServicioMCSISIAT.svclog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>